<link rel="stylesheet" href="../css/core_values.css">

<style>
    .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}



.grid > article img {
  max-width: 100%;
}


</style>
<div class="container-fluid  core-values">
<div class="row" style="text-align: center;">
  <div class="col-md-12">
      <h1 style="text-align: center;">Our Core Value</h1>
      <hr>
  </div>
</div>
<div class="container">
    <main class="grid" style="text-align: center;">
      <article >
        <img src="../img/newintegrity.png" alt="" class="corevalueicon">
        <div class="text">
            <h4 class="values"><span class="bold">Integrity</span> to the Customers and Farmers</h4>

        </div>
      </article>
      <article>
        <img src="../img/Commitment.png" alt="" class="corevalueicon">
        <div class="text">
            <h4 class="values"><span class="bold">Commitment</span> to Authenticity</h4>

        </div>
      </article>
      <article>
        <img src="../img/Transparency.png" alt="" class="corevalueicon">
        <div class="text">
            <h4 class="values">Functioning with <span class="bold">Total Transparency</span></h4>

        </div>
      </article>
      <article>
        <img src="../img/Innovating.png" alt="" class="corevalueicon">
        <div class="text">
            <h4 class="values"><span class="bold">Innovating</span> and <span class="bold">Inspiring the Changes</span>
                which are the need of the hour</h4>
        </div>
      </article>
      <article>
        <img src="../img/Excellence.png" alt="" class="corevalueicon">
        <div class="text">
            <h4 class="values"><span class="bold">Passionate</span> for <span class="bold">Excellence</span></h4>

        </div>
      </article>
      <article>
        <img src="../img/growth.png" alt="" class="corevalueicon">
        <div class="text">
            <h4 class="values"><span class="bold">Optimistic</span> to <span class="bold">Growth</span> and <span
                class="bold">Developments</span></h4>
        </div>
      </article>
    </main>
  </div>
</div>