<link rel="stylesheet" href="../css/fncmart_solution.css">
<link rel="stylesheet" href="../css/Bootstrap4.5.2/bootstrap.min.css">

<div class="container">

    <div class="solution_heading">
    <h1>
        Our Solution
    </h1>
    <hr>
    </div>

</div>
<div class="solution_Keys">
    <div class="card-deck">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow">
                <div style="text-align: center;">
                    <div style="background-color: rgba(74, 214, 81, 0.31); border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; padding-bottom: 25px;">
                        <img src="../img/Group 54.png" class="card-img-top-1" alt="...">
                    </div>
                    <div class="solution-card-title">
                        Food Traceability
                    </div>
                    <div class="card-text">
                        Consumers can trace all the details about the product including the supply chain (transactions) by scanning the QR-code attached on each product.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow">
                <div style="text-align: center;">
                    <div style="background-color: rgba(5, 100, 181, 0.4); border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; padding-bottom: 25px;">
                        <img src="../img/undraw_add_to_cart_vkjp.png" class="card-img-top-1" alt="...">
                    </div>
                    <div class="solution-card-title">
                        E-com Marketplace
                    </div>
                    <div class="card-text">
                        A perfect platform where the consumers can get the assured fresh products directly purchased from farmers at most affordable prices.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow">
                <div style="text-align: center;">
                    <div style="background-color: rgba(74, 214, 81, 0.31); border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; padding-bottom: 25px;">
                        <img src="../img/Group 2255.png" class="card-img-top-1" alt="...">
                    </div>
                    <div class="solution-card-title">
                        Farmer Assistance
                    </div>
                    <div class="card-text">
                        The IOT sensors installed in the farms help in making predictive analysis that ensure more productivity & quality in the farms. Also enable farmers to make smart decisions.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow">
                <div style="text-align: center;">
                    <div style="background-color: rgba(5, 100, 181, 0.4); border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; padding-bottom: 25px;">
                        <img src="../img/Group 53.png" class="card-img-top-1" alt="...">
                    </div>
                    <div class="solution-card-title">
                        Cold Storage
                    </div>
                    <div class="card-text">
                        The collection centres of FnC Mart offer the cold storage facility in the village situated collection centres for the farmers to stow in their products.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
