<link rel="stylesheet" href="../css/fncmart_Process.css">


<div>

    <div class="Process_heading">
        <h1>
            How?
        </h1>
        <hr>
        <h2>
            Good Quality Assurance at Cheaper Price
        </h2>
    </div>
    <div class="Process_content">
       
        <p style="margin-top: 20px; text-align: center;">
            In FnC Mart, farmers & customers are connected with the traceability in Supply Chain with removal of
            middlemen.
        </p>
        <div class="">
            <img src="../img/good quality.png" style="width: 100%; margin-top: 25px;">
        </div>
    </div>
</div>
</div>