<link rel="stylesheet" href="../css/fncmart_VP.css">

<div class="VP_heading">
    <h1>Who all are getting Benefits?</h1>
    <hr>
    <h2>Value Prepositions</h2>
    <div class="container" style="padding: 10px;">
        <img src="../img/fncmartstructure.jpg" class="img-fluid" style="text-align: center;" alt="">
    </div>
</div>

<div class="VP">
    <p class="text">The predictive analysis fetched over the sensors along with the
        farm data are
        distributed among all the
        stakeholders
        for the following six benefits.
    </p>

    <div class="card-deck">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card shadow">
                <div class="card-heading">
                    Farmer-Customer Marketplace
                </div>
                <img class="card-img" src="../img/Group 2257.png" alt="Card image cap">
                <div class="card-text">
                    Providing a marketplace where Farmers can sell their crops
                    to FnC Mart and the
                    consumers can purchase, giving
                    them more market connectivity.
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card shadow">
                <div class="card-heading">
                    Farmer-Fertilizer Industry Supply
                </div>
                <img class="card-img" src="../img/Group 2256.png" alt="Card image cap">
                <div class="card-text">
                    Connectivity of Farmer and fertilizer industries with the
                    farm data in order to judge
                    the right type of
                    fertilizers that are needed for the farm
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card shadow">
                <div class="card-heading">
                    Farmer-Agriculture Department/GOI Policies
                </div>
                <img class="card-img" src="../img/Group 1666.png" alt="Card image cap">
                <div class="card-text">
                    Farm Data will be shared with the Government, policies
                    centering more on benefits the
                    farmers can be formed.
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card shadow">
                <div class="card-heading">
                    Farmer-Bank Insurance/Loans
                </div>
                <img class="card-img" src="../img/Group 1668.png" alt="Card image cap">
                <div class="card-text">
                    Shared data of farms with banks will provide ease to small
                    farmers acquiring loans from
                    the banks, data can
                    be helpful for considering collaterals/guarantees.
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card shadow">
                <div class="card-heading">
                    Farmer-Transportation Facility
                </div>
                <img class="card-img" src="../img/Group 1666.png" alt="Card image cap">
                <div class="card-text">
                    Connectivity of Farmer and transport companies, data
                    shared
                    will help the
                    transportation companies to connect
                    with the leads.
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card shadow">
                <div class="card-heading">
                    Farmer-Customer Transparency
                </div>
                <img class="card-img" src="../img/Group 1665.png" alt="Card image cap">
                <div class="card-text">
                    The consumers can get details of all the transactions by
                    scanning for details thereby
                    validating its
                    freshness.
                </div>
            </div>
        </div>

    </div>

</div>