<link rel="stylesheet" href="../css/fncmart_stakeholders.css">

<div class="container">

    <div class="stakeholder_heading">
        <h1>
            Whom are we helping ?
        </h1>
        <hr>
        <h2> Our Stakeholders</h2>

    </div>
    <div class="stakeholders_list card-deck">

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card shadow">
                <div class="card-heading">
                    Producers
                </div>
                <img src="../img/Group 65.png" alt="" class="card-img">
                <div class="card-text">
                    Farmers get the direct connectivity to the marketplaces, at reasonable selling prices and get the techniques to smart farming with the help of predictive analysis.
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card shadow">
                <div class="card-heading">
                    Consumers
                </div>
                <img src="../img/Tiny family.png" alt="" class="card-img">
                <div class="card-text">
                    Get the convenience of creating orders and receiving the fresh food products with easy payment and complete validation for its freshness by scanning all the transaction details.
                </div>
            </div>
        </div>
    </div>

    
</div>
<div class="video-background">
    <div class="video-container container" id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/D7emfcTYExs" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </div>
</div>
