<link rel="stylesheet" href="../css/journey.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- The Timeline -->

<ul class="timeline">
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">February 2020</span>
			</div>
            
			<div class="desc">Idea!</div>
		</div>
	</li>
  
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">August 2020</span>
			</div>
			<div class="desc">Research and brainstroming completion</div>
		</div>
	</li>

	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">October 2020</span>
			</div>
            
			<div class="desc">Market Survey</div>
		</div>
	</li>
  
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">November 2020</span>
			</div>
			<div class="desc">Customer Validation</div>
		</div>
	</li>

    
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">December 2020</span>
			</div>
            
			<div class="desc">Team Formation</div>
		</div>
	</li>
  
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">February 2021</span>
			</div>
			<div class="desc">Registration of Fresh N Clean Mart Private Limited</div>
		</div>
	</li>

	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">March 2021</span>
			</div>
            
			<div class="desc">R&D and Understanding of Traditional Mandi System</div>
		</div>
	</li>
  
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">June 2021</span>
			</div>
			<div class="desc">Connecting with Farmers and local Mandi vendors</div>
		</div>
	</li>

    <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">July 2021</span>
			</div>
            
			<div class="desc">Mapping of Areas for Customer Acquisition</div>
		</div>
	</li>

    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">August 2021</span>
			</div>
			<div class="desc">Official Launch of FnC Mart in Dehradun, Website Launch & Customer Acquisition</div>
		</div>
	</li>

    <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">September 2021</span>
			</div>
            
			<div class="desc">R&D for strategies of our workflow</div>
		</div>
	</li>

    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">December 2021</span>
			</div>
			<div class="desc">1000 Customer Acquisition Target</div>
		</div>
	</li>

    <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Jaunary 2022</span>
			</div>
            
			<div class="desc">Connecting Farmers with FnC Mart for the direct supplies</div>
		</div>
	</li>

    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">April 2022</span>
			</div>
			<div class="desc">Release of App for Consumers and Starting of same day delivery</div>
		</div>
	</li>

    <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">July 2022</span>
			</div>
            
			<div class="desc">Connecting local Thelawalas/Vendors as a delivery partners of FnC Mart</div>
		</div>
	</li>

	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">November 2022</span>
			</div>
            
			<div class="desc">IOT Sensors introduction for Farmers</div>
		</div>
	</li>

	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Jaunary 2023</span>
			</div>
            
			<div class="desc">Smart Farming Support for the Farmers</div>
		</div>
	</li>

	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">June 2023</span>
			</div>
            
			<div class="desc">Blockchain Based Platform Introduction for farmers to Consumer supply chain</div>
		</div>
	</li>

	
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">June 2023</span>
			</div>
            
			<div class="desc">More Milestones to cross in our Journey.....</div>
		</div>
	</li>
</ul>
