<!Doctype html>

<head>
    <link rel="stylesheet" href="../css/navbar.css">
    <script src="../js/navbar.js"></script>
</head>

<body>
    <nav class="nav" id="navbar">
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class="logo">
            <img src="../img/logo.png" alt="" srcset="">
        </div>
        <ul class="nav-list">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../about-us-2.html">About Us</a></li>
            <li><a href="../contact.html">Contact Us</a></li>
            <li><a href="../timeline.html">Our Timeline</a></li>

        </ul>

    </nav>
</body>

</html>
